body {
  margin: 200px;
  color: black;
  background-color: lightblue;
  font-family: monospace;
}
h1 {
  width: 300px;
  color:whitesmoke;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background: #6456d2;
  box-shadow:  -6px 6px 12px #5045a8,
             6px -6px 12px #7867fc;
}

h2 {
  opacity: 0.8;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  color:whitesmoke;
  text-align: center;
  background: #a89ef0;
  box-shadow:  -10px 10px 20px #1e165f,
             10px -10px 20px #4c36ed;
  position: relative;
  animation: mymove 10s infinite;
}

p {
  width: width;
  opacity: 0.7;
  color: ghostwhite;
  border-radius: 5px;
  padding: 20px;
  background: #a89ef0;
  box-shadow:  -3px 3px 6px #1e165f,
             3px -3px 6px #4c36ed;
  position: relative;
  animation: pmove 10s infinite;
}

ol, ul, img, blockquote {
  width: width;
  opacity: 0.7;
  color: ghostwhite;
  border-radius: 5px;
  padding: 20px;
  background: #a89ef0;
  box-shadow:  -3px 3px 6px #1e165f,
             3px -3px 6px #4c36ed;
  position: relative;
  animation: othermove 10s infinite;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 500px;}
}

@keyframes pmove {
  from {top: 0px;}
  to {top: 500px;}
}

@keyframes othermove {
  from {bottom: 0px;}
  to {bottom: 500px;}
}